################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Deployment/Bicep/ContainerRegistry/ConstructixOnLineServices/.vscode/settings.json
/Deployment/Bicep/VNET/Bicep/.vscode/settings.json
*.json
*.vsidx
*.sqlite
/Deployment/Bicep/.vs/Bicep.slnx/v18/.wsuo
*.wsuo
/DockerDemo.Tests/bin
/DockerDemo.Tests/obj
/SampleAPI/obj
/webApi/.vs
/webApi/src/QEMS.SampleWebApi.Demo/bin/Debug/net10.0
/webApi/src/QEMS.SampleWebApi.Demo/obj
/webApi/tests/Ems.Api.Data.Respository.Tests/bin/Debug/net10.0
/webApi/tests/Ems.Api.Data.Respository.Tests/obj
