################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Deployment/Bicep/ContainerRegistry/ConstructixOnLineServices/.vscode/settings.json
/Deployment/Bicep/VNET/Bicep/.vscode/settings.json
