<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/fa7941a8-d614-416c-8bae-6e4a36930017/resourceGroups/rg-constructix-dev-ae-01/providers/Microsoft.ContainerRegistry/registries/constructixfirstcontainerregistry</ContainerResourceId>
    <ContainerResourceName>constructixfirstcontainerregistry</ContainerResourceName>
    <Subscription>ConstructixSubscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>constructixfirstcontainerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>constructixcontainerdemoapp</ContainerName>
    <EnvironmentName>managedEnvironment-rgconstructixde-a5aa</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://constructixcontainerdemoapp.internal.happymoss-0e0ec09f.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/fa7941a8-d614-416c-8bae-6e4a36930017/resourceGroups/rg-constructix-dev-ae-01/providers/Microsoft.App/containerapps/constructixcontainerdemoapp</ResourceId>
    <ResourceGroup>rg-constructix-dev-ae-01</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>